.stories-container {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.no-result {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  color: var(--clr-red);
}

@media screen and (max-width: 720px) {
  .stories-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.story-wrapper {
  padding: 24px;
  letter-spacing: var(--spacing);
  background-color: var(--clr-primary-white);
  box-shadow: 0px 0px 60px rgb(0, 0, 0, 0.1);
}

.story-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 4px;
}

.story-rating-comment {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
}

.story-col-3 {
  display: flex;
  column-gap: 16px;
}

.read-more-label {
  font-size: 16px;
  font-weight: 700;
  color: var(--clr-blue-1);
  text-decoration: underline;
}

.remove-btn {
  font-size: 16px;
  color: var(--clr-red);
  cursor: pointer;
}
